@model OpenMuseum.Models.Point

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-7 col-sm-5">
        <h2>Add point</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>Points</li>
            <li class="active">
                <strong>Add</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("Add", "Point", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="ibox">
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new {@class= "col-lg-6 col-sm-6 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.TextBoxFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Latitude, new { @class = "col-lg-6 col-sm-6 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.TextBoxFor(model => model.Latitude)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Longitude, new { @class = "col-lg-6 col-sm-6 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.TextBoxFor(model => model.Longitude)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DataLayer, new { @class = "col-lg-6 col-sm-6 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.DropDownListFor(model => model.DataLayerId, (IEnumerable<SelectListItem>)ViewBag.ListOfDataLayers)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, new { @class = "col-lg-6 col-sm-6 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.TextAreaFor(model => model.Content)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
}
        </div>
    </div>
</div>