@model OpenMuseum.Models.Point

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="modal-container"></div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-7 col-sm-5">
        <h2>@Model.Name</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>@Html.ActionLink("Точки", "Index")</li>
            <li class="active">
                <strong>@Model.Name</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-5 col-sm-7 hidden-xs">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="pull-right">
                    <h2>
                        <a href="@Url.Action("Edit", new {id = Model.Id })" title="Редактировать" class="btn btn-primary btn-circle">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="@Url.Action("Delete", new {id = Model.Id })" class="btn btn-danger btn-circle" title="Удалить">
                            <i class="fa fa-trash"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-horizontal">
                            @Html.HiddenFor(model => model.Coordinates)
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Name)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Description)</p>
                                </div>
                            </div>
                            @if (Model.RegionId != null)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Region, new { @class = "col-lg-6 col-sm-6 control-label" })
                                    <div class="col-lg-6 col-sm-6">
                                        <p class="form-control-static"><a href="@Url.Action("Details", "Region", new { id = Model.RegionId })">@Model.Region.Name</a></p>
                                    </div>
                                </div>
                            }
                            @if (Model.DataLayers != null && Model.DataLayers.Any())
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DataLayers, new { @class = "col-lg-6 col-sm-6 control-label" })
                                    <div class="col-lg-6 col-sm-6">
                                        <p class="form-control-static">
                                            @foreach (var layer in Model.DataLayers)
                                            {
                                                <a href="@Url.Action("Details", "BaseLayer", new { id = layer.Id })">
                                                    <span class="label label-info">@layer.Name</span>
                                                </a>
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div id="point"></div>
                    </div>
                </div>
            </div>
            @if (Model.Page != null)
            {
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="col-lg-11">
                            <h3>Содержимое присоединённой страницы (<a href="@Url.Action("Details", "Page", new { id = Model.Page.Id })">@Model.Page.Name</a>)</h3>
                        </div>
                        <div class="col-lg-1">
                            <a class="btn btn-circle btn-primary" title="Сменить" href="@Url.Action("ChangeAttach", "Point", new {Id = Model.Id})" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#modal-container" data-ajax-success="showChangeAttachModal" data-backdrop="false" data-dismiss="modal"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            @Html.Raw(Model.Page.Content)
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="col-lg-11">
                            <h3>Страница не присоединена</h3>
                        </div>
                        <div class="col-lg-1">
                            <a href="@Url.Action("ChangeAttach", "Point", new { id = Model.Id})" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#modal-container" data-ajax-success="showChangeAttachModal" data-backdrop="false" data-dismiss="modal" class="btn btn-circle btn-primary" title="Присоединить"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryunobtrusive")

    <script type="text/javascript">
        function showChangeAttachModal() {
            $("#changeAttachModal").modal('show');
        };
    </script>

    <script type="text/javascript">
        var pointMap = L.map('point', {
            maxZoom: 5,
            minZoom: 0,
            center: [50, 50],
            zoom: 4,
            noWrap: true,
            zoomControl: true
        });

        L.tileLayer('@ViewBag.BaseLayerUrl', {
            crs: L.CRS.Simple,
            minZoom: 0,
            maxZoom: 5,
            continuousWorld: true
        }).addTo(pointMap);

        var data = JSON.parse($('#Coordinates').val());

        var datalayer = L.geoJson(data, {}).addTo(pointMap);
        pointMap.fitBounds(datalayer.getBounds());
    </script>
}