@model OpenMuseum.Models.Region

@{
    ViewBag.Title = "Добавить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-7 col-sm-5">
        <h2>Добавить регион</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>@Html.ActionLink("Регионы", "Index")</li>
            <li class="active">
                <strong>Добавить</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("Add", "Region", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="ibox">
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-8 col-sm-8">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-10 col-sm-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Coordinates, new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.TextBoxFor(model => model.Coordinates, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BaseLayer, new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.DropDownListFor(model => model.BaseLayerId, (IEnumerable<SelectListItem>)ViewBag.ListOfBaseLayers, new { @class = "chosen-select form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <a href="@Url.Action("Index")" class="btn btn-default">Отмена</a>
                        </div>
                    </div>
                </div>
            </div>
}
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")

    <style type="text/css">
        .chosen-container.chosen-container-multi .chosen-choices {
            max-height: 50px;
            overflow-y: auto;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/chosen")

    <script>
        $('.chosen-select').chosen({
            width: '250px',
            height: '50px'
        });
    </script>
}