@model OpenMuseum.Models.Page

@{
    ViewBag.Title = "Добавить страницу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-7 col-sm-5">
        <h2>Добавить страницу</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>@Html.ActionLink("Page", "Index")</li>
            <li class="active">
                <strong>Добавить страницу</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("Add", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="ibox">
                <div class="ibox-content">

                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new {@class= "col-lg-6 col-sm-6 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.TextBoxFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "col-lg-6 col-sm-6 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.TextAreaFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                    @Html.LabelFor(model => model.Content, new { @class = "col-lg-6 col-sm-6 control-label" })<br/>
                    @Html.TextAreaFor(model => model.Content)
                    <div class="form-horizontal">
                        <p class="lead">Attach to region</p>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Region, new { @class = "col-lg-6 col-sm-6 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.DropDownListFor(model => model.RegionId, (IEnumerable<SelectListItem>)ViewBag.ListOfRegions)
                            </div>
                        </div>
                        <p class="lead">Attach to point</p>
                        @Html.EditorFor(model => model.Point)
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <a href="@Url.Action("Index")" class="btn btn-default">Отмена</a>
                        </div>
                    </div>
                </div>
            </div>
}
        </div>
    </div>
</div>