@model OpenMuseum.Backend.Models.PageViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-7 col-sm-5">
        <h2>@Model.Name</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>@Html.ActionLink("Страницы", "Index")</li>
            <li class="active">
                <strong>@Model.Name</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-5 col-sm-7 hidden-xs">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="pull-right">
                    <h2>
                        <a href="@Url.Action("Add")" title="Добавить" class="btn btn-primary btn-circle">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a href="@Url.Action("Edit", new {id = Model.Id })" title="Редактировать" class="btn btn-primary btn-circle">
                            <i class="fa fa-edit"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Name)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Description)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-6 col-sm-6 control-label">Прикреплено к</label>
                                <div class="col-lg-6 col-sm-6">
                                    @if (Model.PointId.HasValue)
                                    {
                                        <p class="form-control-static">Точка (<a href="@Url.Action("Details","Point", new { id = Model.PointId.Value })">@Model.PointName</a>) <a href="@Url.Action("ChangeAttach","Page", new { id = Model.Id })"><i class="fa fa-refresh"></i> Change attach</a></p>
                                    }
                                    @if (Model.RegionId.HasValue)
                                    {
                                        <p class="form-control-static">Регион (<a href="@Url.Action("Details","Region", new { id = Model.RegionId.Value })">@Model.RegionName</a>) <a href="@Url.Action("ChangeAttach","Page", new { id = Model.Id })"><i class="fa fa-refresh"></i> Change attach</a></p>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-6 col-sm-6 control-label">Теги</label>
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">
                                        @foreach (var tag in Model.Tags)
                                        {
                                            <a href="@Url.Action("Details", "Tag", new { id = tag.Id })">
                                                <span class="label label-info">#@tag.Name</span>
                                            </a>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Page content</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>