@model OpenMuseum.Models.BaseLayer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-7 col-sm-5">
        <h2>Базовый слой @Model.Name</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>@Html.ActionLink("Базовые слои", "Index")</li>
            <li class="active">
                <strong>@Model.Name</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-5 col-sm-7 hidden-xs">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="pull-right">
                    <h2>
                        <a href="@Url.Action("Add")" title="Добавить" class="btn btn-primary btn-circle">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a href="@Url.Action("Edit", new {id = Model.Id })" title="Редактировать" class="btn btn-primary btn-circle">
                            <i class="fa fa-edit"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Name)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Description)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Url, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Url)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-11">
                            <h3>Слои данных</h3>
                        </div>
                        <div class="col-lg-1">
                            <a href="@Url.Action("Add", "DataLayer")" class="btn btn-circle btn-primary"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        @if (Model.DataLayers.Any())
                        {
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataLayers)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <div class="pull-right">
                                                <a href="@Url.Action("Details", "DataLayer", new { id = item.Id })" class="btn btn-primary" title="Детали"><i class="fa fa-eye"></i></a>
                                                <a href="@Url.Action("Edit", "DataLayer", new { id = item.Id })" class="btn btn-primary" title="Редактировать"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("Delete", "DataLayer", new { id = item.Id })" class="btn btn-danger" title="Удалить"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        }
                        else
                        {
                            <p class="text-center lead">Для этого базового слоя не заданы слои данных</p>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-11">
                            <h3>Регионы</h3>
                        </div>
                        <div class="col-lg-1">
                            <a href="@Url.Action("Add", "Region")" class="btn btn-circle btn-primary"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        @if (Model.Regions.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Описание</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Regions)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <div class="pull-right">
                                                    <a href="@Url.Action("Details", "Region", new { id = item.Id })" class="btn btn-primary" title="Детали"><i class="fa fa-eye"></i></a>
                                                    <a href="@Url.Action("Edit", "Region", new { id = item.Id })" class="btn btn-primary" title="Редактировать"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Region", new { id = item.Id })" class="btn btn-danger" title="Удалить"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p class="text-center lead">Для этого базового слоя не заданы регионы</p>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-11">
                            <h3>Базовая карта</h3>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="baselayer"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        baselayerMap = L.map('baselayer', {
            maxZoom: 5,
            minZoom: 0,
            center: [50, 50],
            zoom: 4,
            noWrap: true,
            zoomControl: true
        });

        L.tileLayer('@Model.Url', {
            crs: L.CRS.Simple,
            minZoom: 0,
            maxZoom: 5,
            continuousWorld: true
        }).addTo(baselayerMap);
    </script>
}