@model OpenMuseum.Models.DataLayer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-7 col-sm-5">
        <h2>@Model.Name</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>@Html.ActionLink("Слои данных", "Index")</li>
            <li class="active">
                <strong>@Model.Name</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-5 col-sm-7 hidden-xs">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="pull-right">
                    <h2>
                        <a href="@Url.Action("Edit", new {id = Model.Id })" title="Редактировать" class="btn btn-primary btn-circle">
                            <i class="fa fa-edit"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Name)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.DisplayFor(model => model.Description)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BaseLayer, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.ActionLink(Model.BaseLayer.Name, "Details", "BaseLayer", new { id = Model.BaseLayerId }, null)</p>
                                </div>
                            </div>
                            @if (Model.ParentId != null)
                            {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Parent, new { @class = "col-lg-6 col-sm-6 control-label" })
                                <div class="col-lg-6 col-sm-6">
                                    <p class="form-control-static">@Html.ActionLink(Model.Parent.Name, "Details", "DataLayer", new { id = Model.ParentId}, null)</p>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-11">
                            <h3>Children layers</h3>
                        </div>
                        <div class="col-lg-1">
                            <a href="@Url.Action("Add", "DataLayer")" class="btn btn-circle btn-primary"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Children)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <div class="pull-right">
                                                <a href="@Url.Action("Details", new {id = item.Id })" class="btn btn-primary" title="Детали"><i class="fa fa-eye"></i></a>
                                                <a href="@Url.Action("Edit", new {id = item.Id })" class="btn btn-primary" title="Редактировать"><i class="fa fa-edit"></i></a>
                                                @if (!item.Points.Any())
                                                {
                                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" title="Удалить"><i class="fa fa-trash"></i></a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-11">
                            <h3>Точки</h3>
                        </div>
                        <div class="col-lg-1">
                            <a href="@Url.Action("Add", "Point")" class="btn btn-circle btn-primary"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        @if (Model.Points.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Описание</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Points)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <div class="pull-right">
                                                    <a href="@Url.Action("Details", "Point", new { id = item.Id })" class="btn btn-primary" title="Детали"><i class="fa fa-eye"></i></a>
                                                    <a href="@Url.Action("Edit", "Point", new { id = item.Id })" class="btn btn-primary" title="Редактировать"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Point", new { id = item.Id })" class="btn btn-danger" title="Удалить"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p class="text-center lead">Для этого слоя данных не заданы точки</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>